<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Payment</title>
<link href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link href="/css/custom.css" th:href="@{css/custom.css}"
	rel="stylesheet" media="screen" />

</head>

<body>
	<div class="container">
	<div class="left">
		<a href="/welcome"><img src="/images/home.jpg"></img></a>
	</div>
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Review and pay</h3>
			</div>
			<div class="panel-body" th:object="${shoppingCartOffersList}">
					<table
						class="table table-striped table-hover">
						<tr>
							<th>Sno.</th>
							<th>Offer Id</th>
							<th>Flight Details</th>
							<th>Fare</th>
						</tr>
						<th:block
							th:each="purchasedItem,iterator : ${shoppingCartOffersList}">
							<tr>
								<td th:text="${iterator.index+1}"></td>
								<td th:text="${purchasedItem.offerId}"></td>
								<td th:text="${purchasedItem.flightDetails}"></td>
								<td th:text="${purchasedItem.fare}"></td>
							</tr>
						</th:block>
					</table>
			</div>
		</div>
		<form class="form-display" autocomplete="off"
			id="payment-details-form" th:action="@{/showReceipt}"
			th:object="${paymentDetails}" method="post">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Payment Details</h3>
					<img class="img-responsive"
						src="http://i76.imgup.net/accepted_c22e0.png"></img>
				</div>
				<div class="panel-body">
					<div class="row">

						<div class="col-sm-3">
							<label for="card-type">Card Type <select
								class="form-control" id="card-type" th:field="*{cardType}">
									<option
										th:each="cardType : ${T(com.aa.ndchtml5.common.CardType).cardTypeList}"
										th:value="${cardType.getCode()}"
										th:text="${cardType.getValue()}"></option>
							</select>
							</label>
						</div>
						<div class="col-sm-3">
							<label for="card-number">Card Number <input type="text"
								id="card-number" class="form-control" th:field="*{cardNumber}" /></label>
						</div>
						<div class="col-sm-2">
							<label for="card-exp-month">Month <select
								class="form-control" id="card-exp-month" th:field="*{cardExpMonth}">
									<option
										th:each="cardExpMonth : ${T(com.aa.ndchtml5.common.CCExpiryMonth).expMonthList}"
										th:value="${cardExpMonth.getCode()}"
										th:text="${cardExpMonth.getValue()}"></option>
							</select>
							</label>
						</div>
						<div class="col-sm-2">
							<label for="card-exp-year">Year <select
								class="form-control" id="card-exp-year" th:field="*{cardExpYear}">
									<option
										th:each="cardExpYear : ${T(com.aa.ndchtml5.common.CCExpiryYear).expYearList}"
										th:value="${cardExpYear.getCode()}"
										th:text="${cardExpYear.getValue()}"></option>
							</select>
							</label>
						</div>
						<div class="col-sm-2">
							<label for="cvv">Security Code (CVV) <input type="text"
								id="cvv" class="form-control" th:field="*{cvv}" /></label>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3">
							<label for="first-name">First Name <input type="text"
								id="first-name" class="form-control" th:field="*{firstName}" /></label>
						</div>
						<div class="col-sm-3">
							<label for="middle-name">Middle Name <input type="text"
								id="middle-name" class="form-control" th:field="*{middleName}" /></label>
						</div>
						<div class="col-sm-4">
							<label for="last-name">Last Name <input type="text"
								id="last-name" class="form-control" th:field="*{lastName}" /></label>
						</div>


					</div>
					<div class="row">
						<div class="col-sm-3">
							<label for="email">Email for receipt <input type="email"
								id="email" class="form-control" th:field="*{email}" /></label>
						</div>

					</div>
					<div class="row">
						<div class="col-sm-3">Fare Rules</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<a href="/welcome" class="btn btn-lg">Start over</a>
						</div>
						<div class="col-sm-4">
							<button type="submit" class="btn btn-lg">Pay
								now</button>
						</div>
					</div>
				</div>

				<!--  End of panel -->
			</div>
		</form>
	</div>


</body>
</html>